body{
	margin: 0;
	font-family: Arial;
}
.topint{
	width: 100%;
	height: 115px;
	background-color: #FFFFFF;
}

.top{
	max-width: 1170px;
	height: 115px;
	margin: auto;
	display: flex;
}

.topleft{
	max-width: 585px;
	width: 100%;
	height: 115px;
	line-height: 115px;
}

.logo{
	font-size: 40px;
	color:#62c0e4;
	font-weight: bold;
}

.topright{
	max-width: 585px;
	width: 100%;
	height: 115px;
	text-align: right;
	display: flex;
	flex-direction: column;
}

.topright div{
	height: 57.5px;
}

.topright .tel{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 20px;
}

.logoFrase{
	font-size: 12px;
	color: #8c8c8c;
}

.tel img{
	width: 25px;
	height: 25px;
	margin: 0 8px 2px 0;
}

.navint{
	width: 100%;
	height: 60px;
	background-color: #48424c;
	color: #FFFFFF;
}

.nav{
	max-width: 1170px;
	height: 60px;
	line-height: 60px;
	margin: auto;
}
.nav ul{
	padding-left: 0;
}
nav ul a{
	text-decoration: none;
	color: #FFFFFF;
}
.nav li{
	display: inline-block;
	font-size: 15px;
	padding: 0 30px 0 30px;
}
.check{
	background-color: #63c0e9;
}
.nav li:hover{
	background-color: #63c0e9;
	cursor: pointer;
}
.banner{
	width: 100%;
	height: 630px;
	background-color: #f8f8f8;
	display: flex;
	justify-content: center;
}
.bannerTxt{
	color: #65bee0;
	font-size: 44px;
}
.menubannerint{
	width: 100%;
	height: 390px;
	position: absolute;
	top: 790px;
}
.menubanner{
	max-width: 1170px;
	height: 390px;
	background-color: green;
	margin: auto;
	display: flex;
	color: #FFFFFF;
}
.menubanneritem{
	flex:1;
	padding: 30px;
}
.n1{
	background-color: #57a9ce;
}

.menubanner h4{
	font-size: 25px;
	line-height: 30px;
	font-weight: normal;
}

.menubanner p{
	font-size: 15px;
	line-height:25px;
	font-weight: normal;
}
.botoesint{
	width: 100%;
	height: 400px;
	margin-top: 359px;
}
.botoes{
	max-width: 1170px;
	height: 400px;
	margin: auto;
	display: flex;
	border-bottom: 3px solid #6fbbdb;
}
.coluna{
	flex: 1;
}
.linha{
	padding: 50px 0 40px 0;
	margin-right: 60px;
	display: flex;
}
.up{
	border-bottom: 1px solid #e5e5e5;
}
.linha .botoesconteudo{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.botoesconteudo h4{
	margin: 0;
	color: #626262;
}
.botoesconteudo p{
	margin-top: 10px;
	color: #adadad;
}
#checktitle{
	color: #72b1d4;
}
.conteudoint{
	width: 100%;
	height: 656px;
}
.conteudo{
	padding-top: 40px;
	padding-bottom: 60px;
	margin: auto;
	max-width: 1170px;
	height: 656px;
	display: flex;
	justify-content: space-between;
}
.conteudoNot{
	flex:1;
	max-width: 370px;
}
#corporate{
	max-height: 220px;
	max-width: 370px;
}
.titulo{
	color: #777777;
}
.texto{
	color: #b1b1b1;
	line-height: 22px;
	font-size: 13px;
	margin-bottom: 40px;
}
.botao{
	text-decoration: none;
	color: #FFFFFF;
	background-color: #63c1e7;
	padding: 18px 30px 18px 30px;
}
.item{
	color: #6ebee3;
	font-size: 15px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	padding-top: 10px;
}
.meio{
	margin-bottom: 10px;
}
.lista{
	margin-bottom: 40px;
}
.checked{
	background-color: transparent;
	width: 21px;
	margin-right: 20px;
}
.rodapeint{
    width: 100%;
    height: 395px;
    background-color: #444549;
    margin-top: 750px;
}
.rodape{
    margin: auto;
    max-width: 1170px;
    height: 350px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rodapeContatos{
    display: flex;
}
.rodapeColuna{
    flex: 1;
    display: flex;
    flex-direction: column;

}
.rodapeLinha{
    display: flex;
    margin: 15px;
}
.rodapeBotao{
    padding: 20px 20px 20px 20px;
    width: 30px;
    height: 30px;
    background-color: #4b4c4e;
    margin-right: 30px;
}
.rodapeTexto{
    font-size: 15px;
}
.cinza{
    color: #818286;
}
.azul{
    color: #69a5a6;
}
.rodapePrivacy{
    border-top: 1px solid #8a8b8f;
    padding-top: 25px;
    padding-bottom: 30px;
    color: #8c8d91;
    font-size: 13px;
}